@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900');


/*----------------------Colors*/

.bg-header-color {
    background-color: #4169e1;
}

.logo-bg-color {
    background-color: #4169e1;
}

/*----------------------Header*/

.logo {
    border-radius: 50%;
    text-align: center;
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.society-name {
    color: #c0c0c0;
    text-align: center;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
    padding-left: 25px;
}

.society-name h1 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}

.nav-link {
    font-size: 26px;
    font-weight: 600;
    color: #c0c0c0;
    text-align: right;
    vertical-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 80px;
    padding-left: 25px;
}

/*----------------------Footer*/

.footer-sub {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #c0c0c0;
    text-align: center;
}

footer {
    background-color: #4169e1;
    color: #c0c0c0;
    min-height: 120px;
    margin: 0;
}

.footer-content {
    text-align: center;
}

.application-pdf i {
    font-size: 18px;
    color: #c0c0c0;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.application-pdf i:hover {
    color: #ffcba4;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #c0c0c0;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ffcba4;
}

#footer-details {
    margin-top: 20px;
    padding: 20px;
}

/*----------------------Hero Image*/

.hero-image {
  height: 600px;
  width: 100%;
  background: url('/assets/images/hero-image.jpg') no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero-image-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(2.1);
  }
  to {
    transform: scale(2.4);
  }
}

.hero-image-text {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

  width: 300px;
  height: 230px;
  
  padding-top: 40px;
  padding-left: 10px;

  color: #68717e;
  background-color: rgba(255, 203, 164, .8);

  bottom: 30px;
  right: 20px;

  position: absolute;
}

/*----------------------About us*/

.about-our-society {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-us-heading {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #68717e;
    font-weight: 500;
    font-size: 44px;
    margin-bottom: 15px;
}

.about-us {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #68717e;
    font-size: 20px;
    margin-bottom: 20px;
}

.champ-link {
    margin: auto;
    border: 3px solid black;
    border-radius: 5px; 
    background-color:  #ddd3c3;
}

.match-link {
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    background-color:  #ddd3c3;
}

.stats-link {
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    background-color:  #ddd3c3;
}

.link-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #c0c0c0;
    padding-top: 8px;
}

.champ-link-image {
    height: 220px;
    width: 98%;
    margin: 1%;
}

.match-link-image {
    height: 220px;
    width: 98%;
    margin: 1%;
}

.stats-link-image {
    height: 220px;
    width: 98%;
    margin: 1%;
}

/*----------------------Championship page*/

.championship-page-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #68717e;
    text-decoration: underline;
    text-decoration-color:#68717e;
    margin-bottom: 15px;
}

.championship-page-title h2 {
    font-size: 48px;
    font-weight: 600;
}

.championship-header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #68717e;
}

.championship-explained {
    margin: 15px;
}

.championship-explained p {
    text-decoration: none;
}